<body class="panel">
    <!-- Pied de page -->
    <footer class="container-fluid footer">
        <div class="row">
            <div class="col">
                <h3>Nous contacter</h3>
                <ul>
                    <li>Adresse : 123 Rue de l'Immobilia</li>
                    <li>Téléphone : +123 456 789</li>
                    <li>Email : contact@immobilierapp.com</li>
                </ul>
            </div>
            <div class="col">
                <h3>Suivez-nous</h3>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>En Partenariats</h3>
                <ul>
                    <li>CITADEL</li>
                    <li>UV-BF</li>
                    <li>FD&IA</li>
                </ul>
            </div>
        </div>
        <div class="row copyright">
            <p>&copy; {{ year }} Gestion des Biens Immobiliers</p>
        </div>
    </footer>
</body>
