

{% extends 'App_immobiliers/base.html' %}

{% block content %}
    <!-- Contenu spécifique à la page d'accueil -->
   <div>
          <h1>Bienvenus sur le portail de gestion des Biens Immobiliers</h1>
          
          <!-- Bouton d'ajout -->

          <div class="row">
              {% if liste_biens_immobiliers %}
              <div class="col-12 d-flex">
                <h2>Liste des Biens Immobiliers</h2>
                <a class="btn btn-primary" href="{% url 'ajouter_bien_immobilier' %}">Ajouter un Bien Immobilier</a>
              </div>
                  {% for bien_immobilier in liste_biens_immobiliers %}
                      <div class="col-md-3 mb-4 mt-3">
                        <div class="card">
                          <img src="{{ bien_immobilier.images.url }}" class="card-img-top" alt="{{ bien_immobilier.nom }}">
                          <div class="card-body">
                              <h5 class="card-title">{{ bien_immobilier.nom }}</h5>
                              <p class="card-text">{{ bien_immobilier.types }}</p>
                              <p class="card-text">{{ bien_immobilier.prix }} €</p>
                              <a href="{% url 'detail_bien_immobilier' bien_immobilier.id %}" class="btn btn-primary">Détails</a>
                          </div>
                        </div>
                      </div>
                  {% endfor %}
              {% else %}
                  <div class="col-12">
                      <p>Aucun bien immobilier trouvé.</p>
                      <a href="{% url 'ajouter_bien_immobilier' %}" class="btn btn-success">Ajouter un Bien Immobilier</a>
                  </div>
              {% endif %}
          </div>
      </div>
{% endblock %}