{% extends 'shareds/pop-up.html' %}
{% block title %}Connexion{% endblock %}
{% block content %}
<!-- Fenêtre modale Connexion -->
<div class="modal fade" id="fenetreModaleConnexion" tabindex="-1" role="dialog" aria-labelledby="fenetreModaleLabelConnexion" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <!-- Formulaire de connexion -->
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Nom d'utilisateur :</label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe :</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Se connecter</button>
                </form>
            </div>
            <div class="modal-footer">
					<button type="button" class="btn btn-primary"><a href="{% url 'inscription'  %}">Creez un compte</a></button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
