{% extends 'shareds/pop-up.html' %}

{% block title %}Création de compte{% endblock %}
{% block content %}
<!-- Fenêtre modale Créer un compte -->
<div class="modal fade" id="fenetreModaleInscription" tabindex="-1" role="dialog" aria-labelledby="fenetreModaleLabelInscription" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <!-- Formulaire d'inscription -->
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="new_username">Nom d'utilisateur :</label>
                        <input type="text" class="form-control" id="new_username" name="new_username">
                    </div>
                    <div class="form-group">
                        <label for="new_password">Mot de passe :</label>
                        <input type="password" class="form-control" id="new_password" name="new_password">
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirmer le mot de passe :</label>
                        <input type="password" class="form-control" id="confirm_password" name="confirm_password">
                    </div>
                    <div class="form-group">
                        <label for="nom">Nom :</label>
                        <input type="text" class="form-control" id="nom" name="nom">
                    </div>
                    <div class="form-group">
                        <label for="prenom">Prénom(s) :</label>
                        <input type="text" class="form-control" id="prenom" name="prenom">
                    </div>
                    <div class="form-group">
                        <label for="email">Adresse e-mail :</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="telephone">Téléphone :</label>
                        <input type="text" class="form-control" id="telephone" name="telephone">
                    </div>
                    <button type="submit" class="btn btn-success">S'inscrire</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"><a href="{% url 'connexion'  %}">Connectez-vous</a></button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
